extends layout

block content
  div.container-fluid
       // Page header 
      .page-header
        h2
          | Domains
          | &nbsp;
          small= data.length
            | &nbsp;domains in backend
        .btn-toolbar(style='margin-bottom: 10px;')
          .btn-group.pull-right
            button.btn.btn-default.add-domain(data-toggle="modal",data-target="#add-domain-modal")
              span.glyphicon.glyphicon-plus
              | &nbsp;Add domain
          //.btn-group.pull-right
          //  button.btn.btn-default.disable(href='#')
          //    span.glyphicon.glyphicon-refresh
          //    | Notify slaves

      .modal.fade.in(id="add-domain-modal", tabindex="-1", role="dialog", aria-labelledby="add-domain-label", aria-hidden="true")
       .modal-dialog
        .modal-content
         .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4(class="modal-title", id="add-domain-label")
            #mod-edit-operation
         .modal-body
          form.form.form-horizontal.modal-form(method='POST', action='/servers/#{serverselected.id}/domains/add')
            fieldset
              // Domain Name
              .control-group
                label.control-label(for='name') Domain Name
                .controls
                  .input-append
                    input#mod-edit-name(name='name', size='16', type='text', placeholder='example.com')
              // Zone/Repliction Type 
              .control-group
                label.control-label(for='type') Zone Type
                .controls
                  .input-append.mod-edit-type
                    label
                      input#mod-edit-type-master(type='radio', name='type', value='MASTER')
                      strong Master
                      span.help-block Send out notifications about zone changes to slaves.
                    label
                      input#mod-edit-type-slave(type='radio', name='type', value='SLAVE')
                      strong Slave
                      span.help-block Retrieve records from master, store in database.
                    label
                      input#mod-edit-type-native(type='radio', name='type', value='NATIVE')
                      strong Native
                      span.help-block Rely on database replication, don't replicate via DNS.
              // Zone master (if needed)
              #mod-edit-master-box.control-group.hide
                label.control-label(for='mod-edit-master') Zone master
                .controls
                  .input-append
                    input#mod-edit-master(name='master', size='16', type='text', placeholder='1.2.3.4')
                  span.help-inline Ip Address of the master host, which PDNS should replicate with.
            // modal body
            .modal-footer
              a.btn.btn-default(href='#', data-dismiss='modal', aria-hidden="true") Cancel
              button.btn.btn-success(href='', type="submit", id="mod-add-submit") Add domain

      .modal.fade.in(id="del-domain-modal", tabindex="-1", role="dialog", aria-labelledby="del-domain-label", aria-hidden="true")
       .modal-dialog
        .modal-content
         .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4(class="modal-title", id="del-domain-label")
            #mod-delete-operation
         .modal-body
          .alert.alert-warning
            p
              strong Warning!
            | This operation will delete the domain and all associated records for 
            strong#mod-delete-text-name
            | <br>Are you sure you want to do this ?
         .modal-footer
          a.btn.btn-default(href='#', data-dismiss='modal', aria-hidden="true") Cancel
          a.btn.btn-danger#mod-delete-submit(href='') Delete domain

      div
        table.table.table-striped.table-condensed
          thead
            tr
              th Name
              th Type
              th Masters
              th DNSSEC
              th Serial
              th Notified Serial
              th
          tbody
           each item in data
            tr
              td(style='vertical-align: middle;')
                a(href='/servers/#{serverselected.id}/domains/#{item.id}')= item.name
              td(style='vertical-align: middle;')= item.kind
              td(style='vertical-align: middle;')= item.masters
              td(style='vertical-align: middle;')= item.dnssec
              td(style='vertical-align: middle;')= item.serial
              td(style='vertical-align: middle;')= item.notified_serial
              td(style='vertical-align: middle; text-align: right;')
                // row button group to spin up modal or delete domain 
                .btn-group
                  btn.btn.btn-default.btn-xs.edit-domain(data-toggle="modal", href="#add-domain-modal", data-id="#{item.id}", data-name="#{item.name}", data-kind="#{item.kind}", rel="tooltip", title="Edit domain")
                    span.glyphicon.glyphicon-edit
                    | Settings
                  btn.btn.btn-danger.btn-xs.del-domain(data-toggle="modal", href="#del-domain-modal", data-id="#{item.id}", data-name="#{item.name}", rel="tooltip", title="Delete domain")
                    span.glyphicon.glyphicon-remove
                // row button end 

  include inc/footer

  | <script type="text/javascript">
  |  $(document).on("click", ".add-domain", function () {
  |      $('#mod-edit-operation').html("Add a domain");
  |      $("#mod-edit-name").val("");
  |      $('#mod-edit-text-name').html("");
  |      $('#mod-add-submit').attr("href", "/servers/#{serverselected.id}/domains/add");
  |      $('#add-domain-modal').modal('show');
  |  });
  |  $(document).on("click", ".edit-domain", function () {
  |      var DomainId = $(this).data('id');
  |      var DomainName = $(this).data('name');
  |      var DomainKind = $(this).data('kind');
  |      $('#mod-edit-operation').html("Edit "+DomainName);
  |      $("#mod-edit-name").val( DomainName );
  |      $('#mod-edit-text-name').html(DomainName);
  |      $("input:radio[value='MASTER']").attr("checked", true);
  |      $('#mod-add-submit').attr("href", "/servers/#{serverselected.id}/domains/edit/"+DomainId);
  |      $('#add-domain-modal').modal('show');
  |  });
  |  $(document).on("click", ".del-domain", function () {
  |      var DomainId = $(this).data('id');
  |      var DomainName = $(this).data('name');
  |      $('#mod-delete-operation').html("Delete "+DomainName);
  |      $('#mod-delete-text-name').html(DomainName);
  |      $('#mod-delete-submit').attr("href", "/servers/#{serverselected.id}/domains/del/"+DomainId);
  |      $('#del-domain-modal').modal('show');
  |  });
  | </script>
