doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Yet Another PowerDNS web interface')
    meta(name='title', content='Yet Another PDNS UI')
    meta(name='author', content='Francois Lacroix')
    meta(name='copyright', content='Copyright (c) 2014-2015, Francois Lacroix')
    title= settings.title
       | &nbsp; - &nbsp;
       = navmenu
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/pnotify/pnotify.core.css')
    link(rel='stylesheet', href='/stylesheets/gh-fork-ribbon.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Yet Another PDNS UI
            .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav
                  - if (serverselected)
                   - var obj = {'/configuration':'Configuration', '/domains':'Domains', '/statistics':'Statistics' }
                    - each val, key in obj
                            - if ("/"+navmenu == key)
                               li.active
                                 a.active(href="/servers/#{serverselected.id}#{key}"): = val
                            - else
                               li
                                 a(href="/servers/#{serverselected.id}#{key}"): = val

                  - if ("/"+navmenu == 'about')
                      li.active
                        a(href='/about') About
                  - else
                      li
                        a(href='/about') About
                ul.nav.navbar-nav.navbar-right
                   li.dropdown
                     - if (serverselected)
                        a.dropdown-toggle(href="/servers/#{serverselected.id}", class="dropdown-toggle", data-toggle="dropdown") PDNS servers
                          b.caret
                     - else
                        a.dropdown-toggle(href="/servers", class="dropdown-toggle", data-toggle="dropdown") PDNS servers
                          b.caret
                     ul.dropdown-menu(role="menu")
                       li
                        - if (serverselected)
                            a(href="/servers/#{serverselected.id}") Manage servers
                        - else
                           a(href="/servers") Manage servers
                        li.divider
                          - if (serverlist)
                           each item in serverlist
                            - if (serverselected && serverselected.id == item.id)
                               li.active
                                 a.active(href="/servers/#{item.id}"): = item.name
                                   | &nbsp;
                                   span.glyphicon.glyphicon-ok
                            - else
                               li
                                 a(href="/servers/#{item.id}"): = item.name
    - if (msg)
        div.alert(class="#{msg.class}")
         a.close(href="#", data-dismiss="alert" aria-hidden="true")
           | &times;
         strong
           = msg.title
         | &nbsp; - &nbsp;
         = msg.msg

    block content
