extends layout

block content
  div.container-fluid
  // Page header
  .page-header
        h2
          | Domains / #{data.name}
          | &nbsp;
          small= data.records.length
            | &nbsp; records
        .btn-toolbar(style='margin-bottom: 10px;')
          .btn-group.pull-right
            button.btn.btn-default.disable(href='#')
              span.glyphicon.glyphicon-refresh
              | Notify slaves
      // Delete record modal
     .modal.fade.in(id="del-record-modal", tabindex="-1", role="dialog", aria-labelledby="del-record-label", aria-hidden="true")
       .modal-dialog
        .modal-content
         .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4(class="modal-title", id="del-record-label")
            #mod-delete-operation
         .modal-body
          .alert.alert-warning
            p
              strong Warning!
            | This operation will delete the 
            strong#mod-delete-text-name 
            | &nbsp; record.<br> Are you sure you want to do this ?
         .modal-footer
          a.btn.btn-default(href='#', data-dismiss='modal', aria-hidden="true") Cancel
          a.btn.btn-danger#mod-delete-submit(href='') Delete record

  div
      table.table.table-striped.table-condensed.table-hover.records
        thead
          tr
            th.records-head-name Name
            th.records-head-type Type
            th.records-head-prio Prio
            th.records-head-content Content
            th.records-head-ttl TTL
            th.records-head-ttl Disabled
            th.records-head-action
        tbody
          tr.records-form
            form.form.form-horizontal(method='POST', action="/records/save")
               td.records-input-name
                 input.form-control(name="name", id="mod-edit-recordname", type="text", placeholder="eg. www or leave empty")
               td.records-input-type
                 select.form-control(id="mod-edit-recordtype" name="type")
                   option(value="A") A
                   option(value="CNAME") CNAME
                   option(value="AAAA") AAAA
                   option(value="PTR") PTR
                   option(value="MX") MX
                   option(value="NS") NS
                   option(value="TXT") TXT
                   option(value="SOA") SOA
               td.records-input-prio
                 input.form-control(name="prio", id="mod-edit-recordprio", type="text", placeholder="-", disabled="disabled")
               td.records-input-content
                 input.form-control(name="content", id="mod-edit-recordcontent", type="text", placeholder="eg. 192.0.43.10, web01.example.com")
               td.records-input-ttl
                 input.form-control(name="ttl", id="mod-edit-recordttl", type="text", value="360")
               td.records-input-disabled
                 div.checkbox-inline
                   label
                     input.form-control(name="disabled", id="mod-edit-recorddisabled", type="checkbox")
               td.records-input-action
                 div.btn-toolbar
                   div.btn-group.navbar-right
                      a.btn.btn-default.btn-xs(type="reset", id="mod-edit-recordreset") Clear
                      a.btn.btn-success.btn-xs(type="submit", id="mod-edit-recordsubmit") Save
          each item in data.records
            tr
             td.records-value-name= item.name
             td.records-value-type= item.type
             td.records-value-prio= item.priority
             td.records-value-content= item.content
             td.records-value-ttl= item.ttl
             td.records-value-disabled= item.disabled
             td.records-value-action
                div.btn-toolbar
                   div.btn-group.navbar-right
                       -if (item.type == "A")
                          button.btn.btn-default.btn-xs(id="#a2ptr-record", href="#", rel="tooltip", title="Create PTR record from this A")
                            span.glyphicon.glyphicon-retweet
                       -if (item.type == "AAAA")
                          button.btn.btn-default.btn-xs(id="#aaaa2ptr-record", href="#", rel="tooltip", title="Create PTR record from this AAAA")
                            span.glyphicon.glyphicon-retweet
                       button.btn.btn-default.btn-xs.edit-record(data-toggle="modal", data-target="#edit-record", rel="tooltip", title="Edit record", data-name="#{item.name}", data-type="#{item.type}", data-content="#{item.content}", data-ttl="#{item.ttl}", data-disabled="#{item.disabled}")
                         span.glyphicon.glyphicon-edit
                       button.btn.btn-danger.btn-xs.del-record(data-toggle="modal", data-target="#del-record", rel="tooltip", title="Delete record", data-name="#{item.name}", data-content="#{item.content} #{item.type}")
                         span.glyphicon.glyphicon-remove

  include inc/footer

  | <script type="text/javascript">
  |  $(document).on("click", ".edit-record", function () {
  |      $('#mod-edit-recordname').val( $(this).data('name') );
  |      $('#mod-edit-recordtype').val( $(this).data('type') );
  |      $('#mod-edit-recordprio').val( $(this).data('prio') );
  |      $('#mod-edit-recordcontent').val( $(this).data('content'));
  |      $('#mod-edit-recordttl').val( $(this).data('ttl') );
  |      $('#mod-edit-recorddisabled').prop('checked', $(this).data('disabled') );
  |      $('#mod-edit-recordsubmit').attr("href", "/records/save/"+$(this).data('name'));
  |  });
  |  $(document).on("click", ".del-record", function () {
  |      var RecordName = $(this).data('name');
  |      var RecordContent = $(this).data('content');
  |      $('#mod-delete-operation').html("Delete "+RecordName);
  |      $('#mod-delete-text-name').html(RecordContent);
  |      $('#mod-delete-submit').attr("href", "/records/del/"+RecordName);
  |      $('#del-record-modal').modal('show');
  |  });
  | </script>
