extends layout

block content
  div.container
     // Page header
     .page-header
        h2
          | Domains / #{data.name}
          | &nbsp;
          small= data.records.length
            | &nbsp; records
        .btn-toolbar(style='margin-bottom: 10px;')
          .btn-group.pull-right
            button.btn.btn-default.disable(href='#')
              span.glyphicon.glyphicon-refresh
              | Notify slaves
     div
      table.table.table-striped.table-condensed.records
        thead
          tr
            th.records-head-name Name
            th.records-head-type Type
            th.records-head-prio Prio
            th.records-head-content Content
            th.records-head-ttl TTL
            th.records-head-ttl Disabled
        tbody
          tr.records-form
            form(method='POST', action="/records/save")
             td.records-input-name
               input(name="name", id="mod-edit-recordname", type="text", placeholder="eg. www or leave empty")
             td.records-input-type
               select(id="mod-edit-recordtype" name="type")
                 option(value="") A
             td.records-input-prio
                 input(name="prio", id="mod-edit-recordprio", type="text", placeholder="-", disabled="disabled")
             td.records-input-content
                 input(name="content", id="mod-edit-recordcontent", type="text", placeholder="eg. 192.0.43.10, web01.example.com")
             td.records-input-ttl
                 input(name="ttl", id="mod-edit-recordttl", type="text", value="360")
             td.records-input-action
                 button(type="reset", id="mod-edit-recordreset", class="btn") 
                 button type="submit", id="mod-edit-recordsubmit", class="btn btn-success")
             td.records-input-disabled
                 input(type="hidden", id="mod-edit-recordid", name="disabled", value="")
         each item in data.records
           tr
             td.records-value-name= item.name
             td.records-value-type= item.type
             td.records-value-prio= item.priority
             td.records-value-content= item.content
             td.records-value-ttl= item.ttl
             td.records-value-disabled= item.disabled

  include inc/footer
